@tailwind base;
@tailwind components;
@tailwind utilities;

body{

  background-size: 100%;
  background-color: #111222;
  overflow-x: hidden;
}

nav{
    backdrop-filter: blur(10px);
}
#welcome {
  position: relative;
}

.typing-content::before,
.typing-content::after {
  content: "";
  display: block;
  overflow: hidden;
  border-right: .15em solid rgb(255, 0, 0);
  white-space: nowrap;
  animation: typing 3s steps(80, end) forwards infinite;
}

.typing-content::after {
  content: "Hi There !";
  animation-delay: 3s; /* Delay after the first animation cycle */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.hid{
  opacity:0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s ease-in-out;
}
.show{
  opacity:1;
  filter: blur(0);
  transform: translateX(0);
}
.par{
  background-color: antiquewhite;
  backdrop-filter: blur(5%); 
}
.bg{
/* background-color: rgb(240, 248, 255); */


}
#button{
  /* background: #a3a3a394; */
}
#button:hover{
  cursor: pointer;

}
/* .cvbutton{
  z-index: 100 !important;
} */
.pic1{
  background-color: rgba(29, 238, 227, 0.26);
  backdrop-filter: blur(50px);
  border: 1;
  border-radius: 15px;
}
.pic1:hover{
  /* backdrop-filter: blur(50px); */
  box-shadow: rgba(248, 242, 242, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.about-picture1:hover{
  box-shadow: rgba(248, 242, 242, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.cv{
  z-index: 2 !important;
}

.scroller {
  max-width: 600px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 60s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 60s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  min-block-size: 100vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}
