* {
  list-style: none;
}
.skill {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill li {
  margin: 20px 0;
  padding: 10px;
}
.bar {
  background-color: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}
.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(135deg,cyan 0%,rgb(179, 32, 199) 100%);
}
.html {
  width: 95%;
  animation: html 5s;
}
.css {
  width: 85%;
  animation: css 5s;
}
.js {
  width: 55%;
  animation: js 5s;
}
.react {
  width: 65%;
  animation: react 5s;
}
.php {
  width: 50%;
  animation: php 5s;
}
.sql {
  width: 75%;
  animation: sql 5s;
}
.tailwind {
  width: 65%;
  animation: tailwind 5s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}


@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}

@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}


@keyframes tailwind{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}


